<div class="text-center">
    <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Main" asp-action="NewProject">Добавить новый проект</a>
    <br>
    <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Projects" asp-action="Index">Смотреть список проектов</a>
    <br>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Main" asp-action="Login">Смотреть результаты голосования</a>
</div>
