@model List<DateViewModel>
<div class="col-3">
    <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Main" asp-action="NewProject">Добавить новый проект</a>
    <br>
    <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Main" asp-action="NewDate">Добавить новую дату</a>    
    @*<a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Projects" asp-action="Index">Смотреть список проектов</a>
    <br>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Main" asp-action="Login">Смотреть результаты голосования</a>*@
</div>
<div class="text-center">
    @if(Model == null)
    {
        <h2>Пусто</h2>
    }
    else
    {
        <table class="table">
            @foreach(var date in Model)
            {
                <tr>
                    <td><p>@date.DateTime:</p></td> 
                    <td><a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="Projects" asp-action="Index" asp-route-id="@date.Id">Проекты</a></td>
                    <td><a class="btn btn-primary" asp-area="Admin" asp-controller="Main" asp-action="Votes" asp-route-id="@date.Id">Результаты</a></td>
                </tr>
            }
        </table>
    }
    
</div>

