@model UserViewModel

<table class="table">
    <tr>
        <td>ФИ</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Школа</td>
        <td>@Model.School</td>
    </tr>
    <tr>
        <td>Класс</td>
        <td>@Model.Class</td>
    </tr>
</table>