@{
    ViewData["Title"] = "Python парад";
}
@model UserViewModel
<div class="text-center">
    <h1>Python-парад</h1>
    <h2>@ViewBag.CurrentDate</h2>
    <br>
    <p>Добро пожаловать на страницу для голосования за проекты.</p>
    <p>Представьтесь, чтобы проголосовать.</p>
</div>
<br>
<form method="post" asp-area="" asp-controller="Home" asp-action="Login">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="text-center">
        <div>
            <label asp-for="Name">Введите Фамилию и Имя</label>
            <br>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
  
        <br>
        <div>
            <label asp-for="School">Введите школу(если вы школьник)</label>
            <br>
            <input asp-for="School">
            <span asp-validation-for="School"></span>
        </div>
        <br>
        <select class="form-select form-select-lg mb-3" name="Class" asp-for="Class">
			<option value="@null" selected>Выбрать класс</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
            <option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
            <option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
            <option value="Teacher">Учитель</option>
			<option value="Parent">Родитель</option>
            <option value="Student">Студент</option>
            <option value="Other">Другое</option>
		</select>
        <br>

        <button class="btn btn-primary m-2" type="submit">Голосовать</button>
    </div>
</form>
