@model UserViewModel
<form method="post" asp-area="Admin" asp-controller="Main" asp-action="Index">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="text-center">
        <div>
            <label asp-for="Name">Логин</label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
  
        <br>
        <div>
            <label asp-for="School">Пароль</label>
            <input asp-for="School" type="password">
            <span asp-validation-for="School"></span>
        </div>
        <br>
        <select class="form-select-sm" name="Class" asp-for="Class">
			<option selected>изменить статус</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
            <option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
            <option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="Parent">Родитель</option>
            <option value="Student">Студент</option>
            <option value="Other">Другое</option>
		</select>


        <button class="btn btn-primary m-2" type="submit">Войти</button>
    </div>
</form>
